@model ACE_it.Helper.RecipeSessionViewModel

@{
    ViewBag.Title = "Recipe Session";
    Layout = "_Layout";

    var text = Model.RecipeInstruction.Instruction.Text.Trim();
    var html = text.Substring(4,text.Length-9);
}

<div class="highlight-clean" style="padding-bottom: 0;">
    <div class="container">
        <div class="intro">
            @{
                var index = Model.ViewIndex + 1;
                <h2 class="text-center" style="margin-bottom:50px;font-size:250%;">Step @index</h2>
            }
        </div>
        <p class="text-center" style="margin-bottom: 100px; font-size: 175%;">@Html.Raw(html)</p>
        <div class="buttons">
@if (Model.ViewIndex > 0)
            {
                var viewIndex = Model.ViewIndex - 1;
                <a asp-action="Show" asp-controller="SessionRecipe" asp-route-sessionId="@Model.SessionId" asp-route-viewIndex="@viewIndex" class="btn btn-light" role="button">Previous STEP</a>
            }

            @if (Model.RecipeInstructionsCount - 1 == Model.InstructionIndex)
            {
                <a asp-action="Finish" asp-controller="SessionRecipe" asp-route-recipeId="@Model.RecipeId" class="btn btn-primary" role="button" style="background-color: rgb(40, 167, 69);">Finish and Rate</a>
            }

            @if (Model.ViewIndex == Model.InstructionIndex && Model.ViewIndex < Model.RecipeInstructionsCount - 1)
            {
                <a asp-action="Update" asp-controller="SessionRecipe" asp-route-sessionId="@Model.SessionId" class="btn btn-primary" role="button" style="background-color: rgb(40, 167, 69);">Next STEP</a>
            }
            else if (Model.ViewIndex < Model.RecipeInstructionsCount - 1)
            {
                var viewIndex = Model.ViewIndex + 1;
                <a asp-action="Show" asp-controller="SessionRecipe" asp-route-sessionId="@Model.SessionId" asp-route-viewIndex="@viewIndex" class="btn btn-light" role="button">Next STEP</a>
            }
        </div>
    </div>
    <p class="text-center" style="font-size: 80%; width: 50%; margin-top: 40px; margin-bottom: 40px; margin-left: 25%;">If at any moment you need help you can consult more tips by clicking or saying the highlighted words and select the type of help you need (how, where, when, ...)<br></p>
</div>
<div class="steps-progressbar" style="margin-bottom: 50px;">
    <ul>
        @for (var i = 0; i < Model.RecipeInstructionsCount; i++)
        {
            var viewI = i + 1;
            if (i < Model.InstructionIndex)
            {
                <li class="previous">@viewI</li>
            }
            else if (i == Model.InstructionIndex)
            {
                <li class="active">@viewI</li>
            }
            else
            {
                <li>@viewI</li>
            }
        }
    </ul>
</div>
<div class="row" style="margin: 0; margin-bottom: 40px;">
    <div class="col">
        <div class="video-container">
            <iframe width="853" height="480" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/CTyV3JExDT8?loop=1&amp;playlist=CTyV3JExDT8"></iframe>
        </div>
    </div>
    <div class="col">
        <div class="video-container">
            <iframe width="853" height="480" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/dCGS067s0zo?loop=1&amp;playlist=dCGS067s0zo"></iframe>
        </div>
    </div>
    <div class="col">
        <div class="video-container">
            <iframe width="853" height="480" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/v-bhA0GcoLM?loop=1&amp;playlist=v-bhA0GcoLM"></iframe>
        </div>
    </div>
</div>

<!-- REMOVE IF YOU WANT TO ALWAYS LISTEN ON JS, change on speech.js too -->
<div id="content">
    <button id="startRecognizeOnceAsyncButton">Start recognition</button>
</div>

@section Scripts
{
<script src="/lib/SpeechSDK-JavaScript-1.5.0/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="/js/speech.js"></script>
}
