@model ACE_it.Helper.RateViewModel;

@{
    ViewData["Title"] = "Rate";

    int likes = 0, loves = 0, dislikes = 0;
    Model.Recipe.UserReactedToRecipes.ForEach(ucr =>
    {
        switch (ucr.Reaction)
        {
            case Reaction.Like:
                likes++;
                break;
            case Reaction.Love:
                loves++;
                break;
            case Reaction.Dislike:
                dislikes++;
                break;
        }
    });
}

<script>
    function myFunction(string) {
        alert(string);
    }
</script>

<div class="map-clean">
    <div class="container recipe-header mt-5">
        <div class="intro" style="margin-bottom: 0;">
            <h1 class="text-center" style="margin-bottom: 20px;">Rate</h1>
            <h2 class="text-center" style="margin-bottom: 20px;">Recipe: @Model.Recipe.Name</h2>
        </div>
    </div>
    
    <h4 style="margin-bottom: 20px;">Private Section</h4>
    
    
    Missing difficulties box

    <br><br><br><br><br><br>

    <h4 style="margin-bottom: 20px;">Public Section</h4>

    <div class="container">
        <thead>
            <tr>
                <th style="font-weight: normal;">How much did you like this recipe?&nbsp;&nbsp;</th>
                <th style="font-weight: normal;">
                    <a asp-controller="Rate" asp-action="React" asp-route-id="@Model.Recipe.Id"
                       asp-route-userId="@Model.User.Id" asp-route-reaction="love">
                        @if (Model.Recipe.UserReactedToRecipes.Find(r => (r.UserId == @Model.User.Id && r.Reaction == Reaction.Love)) == null)
                        {
                            <i class="fa fa-heart"></i>
                        }
                        else
                        {
                            <i class="fa fa-heart" style="color:#000000"></i>
                        }
                    </a>
                    &nbsp;@loves&nbsp;&nbsp;
                </th>
                <th style="font-weight: normal;">
                    <a asp-controller="Rate" asp-action="React" asp-route-id="@Model.Recipe.Id"
                       asp-route-userId="@Model.User.Id" asp-route-reaction="like">
                        @if (Model.Recipe.UserReactedToRecipes.Find(r => (r.UserId == @Model.User.Id && r.Reaction == Reaction.Like)) == null)
                        {
                            <i class="fa fa-thumbs-up"></i>
                        }
                        else
                        {
                            <i class="fa fa-thumbs-up" style="color:#000000"></i>
                        }
                    </a>
                    &nbsp;@likes&nbsp;&nbsp;
                </th>
                <th style="font-weight: normal;">
                    <a asp-controller="Rate" asp-action="React" asp-route-id="@Model.Recipe.Id"
                       asp-route-userId="@Model.User.Id" asp-route-reaction="dislike">
                        @if (Model.Recipe.UserReactedToRecipes.Find(r => (r.UserId == @Model.User.Id && r.Reaction == Reaction.Dislike)) == null)
                        {
                            <i class="fa fa-thumbs-down"></i>
                        }
                        else
                        {
                            <i class="fa fa-thumbs-down" style="color:#000000"></i>
                        }
                    </a>
                    &nbsp;@dislikes
                </th>
            </tr>
         </thead>
    </div>
    
    <br><br><br><br>
    <form asp-controller="Rate" asp-action="Comment" 
          asp-route-id="@Model.Recipe.Id" asp-route-userId="@Model.User.Id"
          method="post">
        <p>
            <textarea name="Commentary" cols="40" rows="5"></textarea>
            <input type="submit" value="Send" >
            <input type="reset" value="Clear" > 
        </p>
    </form>
    
    @if(@Model.CommentSent)
    {
        <body onload="myFunction('Comment Submitted!')";></body>
    }
    
</div>